input,
select,
textarea {
  display: block;
  font-family: $base-font-family;
  appearance: none;
  background-color: transparent;
  color: $base-font-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  margin-bottom: $small-spacing;
  padding: $base-spacing / 3;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: darken($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &::placeholder {
    color: darken($base-font-color, 20%);
  }
}

textarea {
  resize: vertical;
}
