html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  height: 100%;
  background-image: radial-gradient(circle , #252424, black);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  margin: 0 auto;
  margin-top: 40px;
  padding: $base-spacing;
  max-width: 900px;
}
