html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  height: 100%;
  background-image: url(../img/wire.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 80%;
}

.container {
  padding: 50px;
}

main {
  margin: 0 auto;
  padding: $base-spacing;
  max-width: 900px;
}
