html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  height: 100%;
  background-image: url(../img/wire.png);
  background-image: radial-gradient(circle , #252424, black);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 80%;
  background-color: $bg-color;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
  padding: 10px;
  @media screen and(max-width: 700px) {
    padding: 0;
  }
}

main {
  margin: 0 auto;
  padding: $base-spacing;
  max-width: 900px;
}
