// Breakpoints
// $medium-screen: 600px;
// $large-screen: 900px;

// Typography
$base-font-family: 'Arial'; //todo : add more robust Typography
$heading-font-family: 'Orbitron';
$heading-font-color: white;;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$white: white;

$light-black: rgba(0, 0, 0, 0.21);
$black: black;

$yellow: #f7c609;
// $dark-yellow: ;

$light-gray: #797979;
$gray: rgba(192, 192, 192, 0.16);
$dark-gray: #1a1919;

// Font Colors
$base-font-color: $light-gray;
$action-color: $yellow;

// Border
$base-border-color: $gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
