// Breakpoints
// $medium-screen: 600px;
// $large-screen: 900px;

// Typography
$base-font-family: 'Arial';
$heading-font-family: 'Orbitron';

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors

$white: white;
$black: black;

$yellow: #ffff00;
$darkyellow: #f7c609;

// $lightgray: rgba(192, 192, 192, 0.16);
// $gray: #c0c0c0;
$lightgray: #ddd;
$gray: #999;
$darkgray: #333;

$border: 1px solid $black;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $dark-gray;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $black;
$secondary-background-color: tint($base-border-color, 75%);

// Animations
$base-duration: 150ms;
$base-timing: ease;
