@import '../../css/base/variables';

.Panel {
  background-image: radial-gradient(circle , #464646, black);

  background-position: center;
  border: $base-border;
  border-radius: $base-border-radius;
  margin-bottom: $base-spacing;
  padding: $base-spacing;

  .Panel_title {
    border-bottom: $base-border;
    padding-bottom: $small-spacing;
    color: $action-color;
  }
}
