.Services {
  color: white;
  border: 1px solid white;
  display: flex;

  p {
    font-family: 'Arial';
    color: #797979;
  }
}

.Services_service {
  flex-grow: 3
}

.Services_sidebar {
  min-width: 200px;
  flex-grow: 1
}
