@import '../../css/base/variables';

.Service {
  text-align: justify;
  text-justify: inter-word;

  .Service_img {
    float: left;
    margin-right: $base-spacing;

    @media screen and (max-width: 570px) {
      width: 100%;
      margin-bottom: $small-spacing;
    }
  }
}
