@import '../../../css/base/variables';

.Contacts {
  display: flex;
  flex-wrap: wrap;
}

.Contacts_address,
.Contacts_form {
  display: inline-block;
  margin: $small-spacing / 2;
  min-width: 240px;
}

.Contacts_form {
  margin-left: 0;
}

.Contacts_address {
  flex: 1 1 auto;
  margin-right: 0;
}

.Contacts_form {
  flex: 2 2 auto;
}

.Contacts_map {
    position: relative;
    padding-left: $small-spacing;
    padding-bottom: 50%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    filter: grayscale(100%);
}
.Contacts_map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
