@import '../../css/base/variables';

.Header {
  // background-image: url('../../img/bg-head.png');
  background-image: radial-gradient(circle , #252424, black);
  background-position: center;

  .Header_content {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    position: relative;

    .logo {
      margin-top: $small-spacing;
      width: 0;
    }

    .logo.is-up {
      width: 300px;
      margin-top: 0;

      transition: all 1.5s $base-timing;
    }

    .Header_text {
      color: $yellow;
      font-size: 1em;

      .name {
        font-size: $base-font-size * 1.5;
        letter-spacing: 2px;
      }
    }

    .Header_phone {
      position: absolute;
      right: 0;
      top: 30%;

      @media screen and(max-width: 760px) {
        display: none;
      }
    }
  }

  .Header_borderBottom {
    min-height: $small-spacing;
    background: linear-gradient(to right, black, $yellow);
  }
}
