@import '../../css/base/variables';

.Header {
  background-image: url('../../img/bg-head.png');
  background-position: center;

  .Header_content {
    display: flex;
    justify-content: center;

    .Header_img {
      height: 160px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 80%;
        margin: 50px auto;

        @media screen and (max-width: 500px) {
          margin-top: 5px;
        }
      }

      .is-up {
        width: 100%;
        margin-top: 20px;

        transition: all 1.5s $base-timing;
      }
    }

    .Header_text {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: $yellow;
      font-size: 1em;

      .name {
        display: block;
        font-size: $base-font-size * 1.5;
      }
    }
  }

  .Header_borderBottom {
    min-height: $small-spacing;
    background: linear-gradient(to right, black, $yellow);
  }
}
