@import '../../../css/base/variables';

.Home {
  position: relative;

  .Home_callBtn {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;

    .btn.-call-us {
      padding: $small-spacing ($base-spacing * 2);
      opacity: 0;
    }

    .btn.-large {
      opacity: 1;
      transition: padding, opacity 1s $base-timing;
    }
  }

  .carousel-container {
    margin-bottom: $base-spacing;

    @media screen and(max-width: 610px) {
      display: none;
    }
  }

  .carousel {
    .slide {
      background-color: transparent;
      min-height: 260px;
    }

    .slide_title {
      margin-top: $small-spacing;
      margin-bottom: $base-spacing;
    }

    .slide_list {
      list-style-type: none;
    }
  }
}
