@import '../../css/base/variables';

.Footer {
  background-image: linear-gradient(black, #252424);
  padding: $base-spacing * 2;
  display: flex;
  border-top: $base-border;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 670px) {
    padding: $small-spacing;
    justify-content: center;
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  a {
    color: darken($action-color, 20%);

    &:hover {
      color: $action-color;
    }
  }
}

.Footer_address {
  h3 {
    color: $base-font-color;
  }
}

.Footer_links {
  align-self: flex-end;

  li {
    display: inline-block;
    margin-bottom: $small-spacing;
    margin-top: $small-spacing;

    a {
      padding: $small-spacing;
      border-radius: 50%;

      &:hover {
        background: $action-color;
        color: $black;
        transition: background 0.5s $base-timing;
      }
    }
  }

  .ezworks {
    color: $base-font-color;
    padding-left: 13px;

    &:hover {
      color: $action-color;
      transition: color $base-duration $base-timing;
    }
  }
}
