@import '../../css/base/variables';

.Footer {
  padding: $base-spacing * 2;
  margin: $base-spacing * 2;
  display: flex;
  border-top: $base-border;
  justify-content: space-between;
  flex-wrap: wrap;

  ul {
    margin: 0;
    padding: 0;
  }

  h3 {
    font-family: $base-font-family;
  }
}

.Footer_links {
  align-self: flex-end;

  li {
    display: inline-block;
    margin-bottom: $small-spacing;

    a {
      padding: $small-spacing;
      border-radius: 50%;
      color: $action-color;

      &:hover {
        background: darken($yellow, 10%);
        color: $black;
        transition: color, background 0.5s $base-timing;
      }
    }
  }

  .ezworks {
    color: $base-font-color;

    &:hover {
      color: $action-color;
      transition: color $base-duration $base-timing;
    }
  }
}
