@import '../../css/base/variables';

.Nav {
  border-bottom: 1px solid $black;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.Nav_menu {
  display: flex;
  justify-content: center;

  > li {
    position: relative;
    border-left: 1px solid $black;

    &:first-child {
      border: 0;
    }

    &:hover ul {
      transform: scale(1,1);
    }

    > a {
      display: block;
      padding: $small-spacing $base-spacing;
      color: $white;
      font-weight: bold;
      font-size: 14px;
      font-family: 'Orbitron';
      text-decoration: none;
      transition: color 0.5s;

      &:hover {
        color: $yellow;
        background-color: $light-black;
      }

      @media screen and (max-width: 410px) {
        padding: $base-spacing / 1.5;
      }

      @media screen and (max-width: 330px) {
        padding: $base-spacing / 3;
      }
    }
  }

  // hide HOME & NEWS links on smaller screens
  // and remove next link's border
  @media screen and(max-width: 700px) {
    .sm-hidden {
      display: none;
    }

    .sm-hidden + li {
      border: 0;
    }
  }
}

.Nav_menu_submenu {
  transform: scale(1, 0);
  transform-origin: top center;
  transition: 0.2s linear 50ms;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 4;
  min-width: 220px;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: $dark-gray;

  a {
    display: block;
    margin: 2px 0;
    padding: 10px 20px;
    border: $base-border;

    text-decoration: none;
    color: $white;
    font-family: $base-font-family;
    font-size: 0.8em;

    &:hover {
      background: $yellow;
      color: $black;
      transition: color, background 0.5s ease;
    }
  }
}


